---
layout: default
title: Ponteareas en común
path: home
---

<section class="px-2 pt-2 bg-white md:px-0 tails-selected-element" >
  <div class="container items-center max-w-8xl px-8 mx-auto xl:px-5">
    <div class="flex flex-wrap items-center sm:-mx-3">
      <div class=" md:w-1/3 md:px-3">
        <div class="w-full pb-6 space-y-6 sm:max-w-md lg:max-w-lg md:space-y-4 lg:space-y-8 xl:space-y-9 sm:pr-5 lg:pr-0 md:pb-0">
          <img class="mx-auto h-auto w-1/2 sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2"  src="static/img/logo_pec.png">
          <h1 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-4xl md:text-4xl lg:text-5xl xl:text-6xl"><span class="block xl:inline"></span></h1><h1 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-4xl md:text-4xl lg:text-5xl xl:text-6xl">
            <span class="block xl:inline">A ilusión do</span>
            <span class="block bg-clip-text text-transparent bg-gradient-to-r from-red-500 via-red-400 to-purple-500" data-primary="indigo-600">Cambio!</span>
          </h1>
          <div class="relative flex flex-col sm:flex-row sm:space-x-4">
            <a href="#_" class="flex items-center  sm:px-1 px-6 py-3 mb-3 text-lg text-white bg-indigo-600 rounded-md sm:mb-0 hover:bg-indigo-700 sm:w-auto sm:max-w-sm mx-auto" data-primary="indigo-600" data-rounded="rounded-md">
              Coñece o noso programa
              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-1" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
            </a>

          </div>
        </div>
      </div>
      <div class="md:w-2/3 mb-0">
        <div class="w-full h-auto overflow-hidden " data-rounded="rounded-xl" data-rounded-max="rounded-full">
            <h1 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl"><span class="block xl:inline"><br></span></h1>
            <div class=""><img class="mx-auto sm:max-w-sm lg:max-w-full max-w-full" src="/static/img/header.png"></div>
          </div>
      </div>
    </div>
  </div>
</section>

<section id="espazopolitico" class="py-20 bg-black tails-selected-element 2xl:bg-black scroll-mt-16" >
  <div class="container items-center max-w-8xl px-4 mx-auto sm:px-20 md:px-32 lg:px-16">
    <div class="flex flex-wrap items-center -mx-3">
      <div class="order-1 w-full px-3 lg:w-1/2 lg:order-0">
        <div class="w-full lg:max-w-md">
          <h2 class="mb-4 text-gray-200 text-6xl font-extrabold leading-tight tracking-tight sm:text-6xl font-heading 6xl:text-white">Espazo político</h2>
          <p class="mb-4 font-medium text-gray-500 xl:mb-6 2xl:font-bold 2xl:text-gray-500">Somos a unión de Esquerda Unida, Podemos e persoas independentes provintes dos movementos sociais de Ponteareas.</p>
          <ul>
            <li class="flex items-center py-2 space-x-4 xl:py-3">
              <span class="mb-4 font-medium text-gray-500 xl:mb-6 2xl:font-bold 2xl:text-gray-500">A xente do común unímonos para facer fronte á necesaria transformación social, ecolóxica e económica do Concello de Ponteareas. Cremos que desde o municipalismo podemos traballar por mellorar a vida dos veciños e das veciñas. Por iso, sumamos a nosa forza para loitar polo cambio na forma de facer política en Ponteareas, dende a escoita e a participación cidadá, desexando ver unha vila que non deixa a ninguén atrás.
              </span>
            </li>
            
          <li class="flex items-center py-2 space-x-4 xl:py-3"> 
            <span class="text-gray-200 font-Permanent font-bold text-3xl">Ponteareas en común, a ilusión do cambio!</span>
            </li>
            
          </ul>
        </div>
      </div>
      
      <div class="w-full px-3 mb-12 lg:w-1/2 order-0 lg:order-1 lg:mb-0"><img class="mx-auto sm:max-w-sm lg:max-w-full p-3 " src="/static/img/espazo-politico.png" alt="Ponteareas en Común espazo político" data-rounded="rounded-md"></div>
    </div>
  </div>
</section>
{# 
Sección Blog #}



<section class="bg-white tails-selected-element">
    <div class="w-full px-5 py-6 mx-auto space-y-5 sm:py-8 md:py-12 sm:space-y-8 md:space-y-16 max-w-7xl">
      <h2 class="flex justify-center font-Permanent text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl ">Últimas novas</h2>
        <div class="grid grid-cols-12 pb-10 sm:px-5 gap-x-8 gap-y-16">
                
          {% set postsListLimit = 3 %} 
          {% set postslist = collections.post | reverse | limit(postsListLimit) %}


          {% for post in postslist  %}

          
                <article class="flex flex-col items-start col-span-12 space-y-3 sm:col-span-6 xl:col-span-4">
                    <h2 class="text-lg font-bold sm:text-xl md:text-2xl text-gray-900 mb-2">
                        <a href="{{ post.url | url }}" class="block">
                            <img class="object-cover w-full mb-2 overflow-hidden rounded-lg shadow-sm max-h-56" src="{{ post.data.imagenPrincipal }}"> 
                            {% if post.data.title %}
                                {{ post.data.title }}
                            {% else %}
                                Untitled
                            {% endif %}
                        </a>
                    </h2>
                    <p class="pt-2 text-xs font-medium">
                        <time>
                            {{ post.date | readableDate }}
                            por
                            <a>{{ post.data.author }}</a>

                        </time>
                    </p>
                    {% if post.data.description %}
                        <p class="text-sm text-gray-500">
                            {{ post.data.description }}
                        </p>
                    {% endif %}

                    <p>
                        <a href="{{ post.url | url }}" class="text-indigo-500 font-bold text-lg">
                            Leer máis →
                        </a>
                    </p>

                </article>
                {% endfor %}
            
        </div>
    </div>

</section>

{# Sección Obxectivos #}

<section id="Obxectivos" class="bg-white tails-selected-element mb-0 scroll-mt-32">
 
<div class="mx-auto flex flex-col items-center">
 <h2  class="font-Permanent text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-4xl lg:text-5xl xl:text-6xl xl:mb-16">Principais obxectivos </h2>
  <div>
  {% include "./_includes/partials/content.html" %}
  </div>
</div>
</section>

{# Sección Programa #}

<section id="programa" class="bg-white tails-selected-element mb-0">
 
<div class="mx-auto mt-10 flex flex-col items-center">
            <a href="/static/documents/programa_ponteareasencomun_2023.pdf" class="flex items-center underline px-6  xl:px-6 py-3 mb-3 text-lg text-white bg-black rounded-md sm:mb-0 hover:bg-red-500 sm:w-auto sm:max-w-sm mx-auto" target="_blank" data-rounded="rounded-md">
              Consulta o programa completo aqui
             </a>

             <a href="/static/documents/programa_ponteareasencomun_2023.pdf" target="_blank"> <img src="/static/img/pec_a_ilusion_do_cambio.png" class="xl:max-w-3xl sm:max-w-sm"> </a>

</div>
</section>