<footer class="flex  justify-center bottom-0 text-center 	 py-4 text-white ">
    <div class="w-11/12 bg-black rounded-3xl justify-items-center ">
        <div class="flex flex-nowrap my-8 px-8 mx-auto">
            <div class="flex flex-wrap mx-auto text-xl ">
                <span class="font-Permanent font-bold text-2xl ml-4">Contáctanos!</span>
                <span class="ml-4">ponteareasencomun@gmail.com</span>
                <span class="ml-4"> +34 628 44 24 69</span> 

            </div>

        </div>
        <div id="redes" class="border-t border-gray-400 w-2/3 mx-auto "> 
            <div class="flex flex-wrap mx-auto ml-2 justify-center items-center m-4"> 
            <div><span class="ml-6 text-lg font-bold">SÉGUENOS!</span></div>
            <div class="flex flex-nowrap">
            <a href="https://www.instagram.com/ponteareasencomun" target="_blank"> <img alt="Seguenos en instagram" src="../../static/img/logo_ig.png" class="h-10 w-10 fill ml-6"> </a>
            <a href="https://www.facebook.com/Ponteareasencomun" target="_blank"><img src="../../static/img/logo_fb.png" class="h-10 w-10 fill ml-6"></a>
            <a href="https://x.com/PonteareasComun" target="_blank"><img src="../../static/img/logo_tw.png" class="h-10 w-10 fill ml-6"></a>
            <a href="https://t.me/ponteareasencomun" target="_blank"><img src="../../static/img/logo_ta.png" class="h-10 w-10 fill ml-6"></a>
            <a href="https://whatsapp.com/channel/0029VaFVrugJf05n17NI972P" target="_blank"><img src="../../static/img/logo_wa.png" class="h-10 w-10 fill ml-6"></a>
            </div>

            </div>
        </div>
        <!-- <small class="text-gray-500">Copyright ©
            {{settings.name}}
            2020. Made with ❤ by
            <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a>
            •
            <a href="https://github.com/surjithctly/neat-starter" class="underline" target="_blank" rel="noopener">View on Github</a>
        </small> -->
    </div>
</footer>
