<footer class="flex  justify-center bottom-0 text-center 	 py-4 text-white ">
    <div class="w-11/12 bg-black rounded-3xl justify-items-center ">
        <div class="flex flex-nowrap my-8 px-8 mx-auto">
            <div class="flex mx-auto space-x-10 text-xl ">
                <span>Contactanos</span>
                <span class="">ponteareasencomun@gmail.com</span>
                <span class="   "> +34 628 44 24 69</span> 

            </div>

        </div>
        <div id="redes" class=" border-t border-gray-400 w-2/3 mx-auto "> 
            <div class="flex mx-auto ml-2 justify-center items-center m-4"> 
            <span class="ml-6 text-lg font-bold">SÉGUENOS!</span>
            <img src="https://ponteareasencomun.my.canva.site/images/3a8d7aacda991695cb3cbe37cfe32d9d.svg" class="h-10 w-10 fill ml-6">
            <img src="https://ponteareasencomun.my.canva.site/images/3a8d7aacda991695cb3cbe37cfe32d9d.svg" class="h-10 w-10 fill ml-6">
            <img src="https://ponteareasencomun.my.canva.site/images/3a8d7aacda991695cb3cbe37cfe32d9d.svg" class="h-10 w-10 fill ml-6">
            <img src="https://ponteareasencomun.my.canva.site/images/3a8d7aacda991695cb3cbe37cfe32d9d.svg" class="h-10 w-10 fill ml-6">
            <img src="https://ponteareasencomun.my.canva.site/images/3a8d7aacda991695cb3cbe37cfe32d9d.svg" class="h-10 w-10 fill ml-6">

            </div>
        </div>
        <small class="text-gray-500">Copyright ©
            {{settings.name}}
            2020. Made with ❤ by
            <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a>
            •
            <a href="https://github.com/surjithctly/neat-starter" class="underline" target="_blank" rel="noopener">View on Github</a>
        </small>
    </div>
</footer>
